<div
    class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <nav
        class="side-navbar">
        <!-- Sidebar Header -->
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar">
                <img src="/img/avatar-admin.png" alt="..." class="img-fluid rounded-circle"></div>
                <div class="title">
                    <h1 class="h4">{{ userData.fullname }}</h1>
                </div>
            </div>
            <!-- Sidebar Navidation Menus -->
            <span class="heading">Main</span>
            <ul class="list-unstyled">
                <li {{#if dashboardSlideBarActive}} class="active" {{/if}}>
                    <a href="/">
                        <i class="icon-home"></i>Home
                    </a>
                </li>
                <li>
                    <a href="#lazadadropdownDropdown" aria-expanded="false" data-toggle="collapse" class="collapsed">
                        <i class="icon-interface-windows"></i>Lazada
                    </a>

                    <ul id="lazadadropdownDropdown" class="collapse list-unstyled {{#if LazadaSlideBarActive}}show{{/if}}">
                        <li {{#if active.CreateRRS}} class="active" {{/if}}>
                            <a href="/lazada/rrs/">
                                <i class="fa fa-rocket"></i>
                                Thêm dữ liệu Account</a>
                        </li>
                        <li {{#if active.ViewRRS}} class="active" {{/if}}>
                            <a href="/lazada/rrs/view">
                                <i class="fa fa-database"></i>
                                Kho Dữ Liệu</a>
                        </li>
                        <li {{#if lazadaSubMenuAccountActive}} class="active" {{/if}}>
                            <a href="/lazada/account/">
                                <i class="fa fa-shield"></i>
                                Quản lý tài khoản</a>
                        </li>
                        <li {{#if lazadaSubMenuUploadActive}} class="active" {{/if}}>
                            <a href="/lazada/upload/">
                                <i class="fa fa-cloud-upload"></i>
                                Upload Kich Ban</a>
                        </li>
                        <li {{#if lazadaSubMenuUploadActive}} class="active" {{/if}}>
                            <a href="/lazada/datareg/">
                                <i class="fa fa-facebook"></i>
                                Data Reg LZD-FB</a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="#gmaildropdownDropdown" aria-expanded="false" data-toggle="collapse" class="collapsed">
                        <i class="fa fa-google"></i>Gmail
                    </a>

                    <ul id="gmaildropdownDropdown" class="collapse list-unstyled {{#if GmailSlideBarActive}}show{{/if}}">
                        <li {{#if gmailSubMenuAccountActive}} class="active" {{/if}}>
                            <a href="/gmail/account/">
                                <i class="fa fa-shield"></i>
                                Quản lý Gmail</a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="#telegramdropdownDropdown" aria-expanded="false" data-toggle="collapse" class="collapsed">
                        <i class="fa fa-telegram"></i>Telegram
                    </a>

                    <ul id="telegramdropdownDropdown" class="collapse list-unstyled {{#if TelegramSlideBarActive}}show{{/if}}">
                        <li {{#if telegramSubMenuAccountActive}} class="active" {{/if}}>
                            <a href="/telegram/account/">
                                <i class="fa fa-cubes"></i>
                                Quản lý acc</a>
                        </li>
                        <li {{#if telegramSubMenuAccountActive}} class="active" {{/if}}>
                            <a href="/telegram/buffsub/">
                                <i class="fa fa-coffee"></i>
                                Buff Sub Channel</a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="#remotedropdownDropdown" aria-expanded="false" data-toggle="collapse" class="collapsed">
                        <i class="fa fa-television"></i>Điều khiển Máy
                    </a>

                    <ul id="remotedropdownDropdown" class="collapse list-unstyled {{#if RemoteSlideBarActive}}show{{/if}}">
                        <li {{#if active.addDevice}} class="active" {{/if}}>
                            <a href="/remote/addDevice">
                                <i class="fa fa-mobile"></i>
                                Thêm thiết bị để điều khiển
                            </a>
                        </li>
                        <li {{#if active.addScript}} class="active" {{/if}}>
                            <a href="/remote/addScript">
                                <i class="fa fa-cogs"></i>
                                Thêm File Auto
                            </a>

                        </li>
                        <li {{#if active.manage}} class="active" {{/if}}>
                            <a href="/remote/manage">
                                <i class="fa fa-tasks"></i>
                                Quản lý điều khiển
                            </a>

                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
